.popup__input {
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: #000000;
  box-sizing: border-box;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input:not(:first-child) {
  margin-top: 29px;
}

@media screen and (max-width: 540px) {
  .popup__input {
    font-size: 12px;
    line-height: 1;
  }

  .popup__input:not(:first-child) {
    margin-top: 20px;
  }
}

.popup__input:focus {
  outline: 2px solid #2f80ed;
}
