.popup__save {
  height: 50px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  box-shadow: none;
  color: #FFFFFF;
  border: none;
  font-weight: normal;
  font-size: 18px;
}

@media screen and (max-width: 540px) {
  .popup__save {
    height: 40px;
    font-size: 14px;
  }
}

.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}
