.profile__add-button {
  height: 50px;
  width: 150px;
  padding: 0;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: url(../../../images/Plus.svg) center no-repeat;
  background-size: 22px 22px;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 100%;
    max-width: 320px;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
