.popup__close {
  background: url(../../../images/Plus.svg) center no-repeat;
  background-size: 100%;
  transform: rotate(45deg);
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  top: -40px;
  right:-40px;
  padding: 0;
  box-shadow: none;
}

@media screen and (max-width: 540px) {
  .popup__close {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

