.card__like {
  background: url(../../../images/Heart.svg) center no-repeat;
  border: none;
  background-size: contain;
  height: 18.2px;
  width: 20.8px;
}

.card__like:hover {
  cursor: pointer;
  opacity: 0.6;
}
